# Configurações do PostgreSQL
POSTGRES_DB=tecendoarte
POSTGRES_USER=tecendoarte_user
POSTGRES_PASSWORD=tecendoarte_password
POSTGRES_PORT=5432

# Configuração do frontend
FRONT_URL=http://localhost:3000